{% extends "blog/layout.html" %}
    

{% block content %}


<h2>Post List.html입니다.</h2>

<form action="" method="get">
    <input type="text" name='q' value={{ q }}>
    <input type="submit" value='검색'>
</form>

<ul>
    {% for post in post_list %}
    <li>
        <a href="{% url 'post_detail' post.id  %}">
            {{post.id}}
        </a>
        {{post.title}}
        <small>by {{post.author}}</small>
        <small>by {{post.updated_at}}</small>
    </li>
    {% endfor %}
</ul>


{% endblock %}
